.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .choice-card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    width: 12rem;
    padding: 2rem;
    background-color: var(--icon-bg);
    user-select: none;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 40%);
    transition: 200ms ease-in-out, color 100ms ease-in-out;

    &:hover {
      transform: translateY(-8px);
      filter: brightness(1.1);
      color: yellow;
      box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 60%);
    }

    &:active {
      filter: brightness(1.5);
      color: unset;
    }
  }
}
