.header {
  font: normal 2.5rem var(--header-font);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: var(--header-bg);
  color: var(--header-font-color);
}
